*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

footer{
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 5%;
    text-align: center;
    font-size: 18pt;

    color: #ccc;
    font-size: 18pt;
}

.clock{
    width: auto;
}

.flip-clock-dot{
    background: #ccc;
}

.flip-clock-meridium a{
    color: #ccc;
    text-shadow: 0 2px 3px rgb(0, 9, 136);
}

.flip-clock-wrapper ul li a div div.inn{
    text-shadow: 0 2px 3px rgb(0, 9, 136);
}